testSpark/Exercices/02_flux-IoT.txt
[{"id":"41a8785b.be5788","type":"ibmiot in","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"a58363b94221","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":127,"y":168,"z":"3aae4e02.c551b2","wires":[["33ddabbc.cc2254","ba6805de.4597f8"]]},{"id":"ba6805de.4597f8","type":"function","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"valid":true,"x":337,"y":181,"z":"3aae4e02.c551b2","wires":[["96ecad21.69135"]]},{"id":"96ecad21.69135","type":"switch","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":"40"},{"t":"gt","v":"40"}],"checkall":"true","outputs":2,"x":486,"y":182,"z":"3aae4e02.c551b2","wires":[["dcb0b639.234f48"],["c3df1545.3c20e8"]]},{"id":"d51c36c6.2ae3c8","type":"debug","name":"cpu status","active":true,"complete":"false","x":797,"y":179,"z":"3aae4e02.c551b2","wires":[]},{"id":"33ddabbc.cc2254","type":"debug","name":"device data","active":true,"complete":"false","x":337,"y":92,"z":"3aae4e02.c551b2","wires":[]},{"id":"dcb0b639.234f48","type":"template","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":650,"y":133,"z":"3aae4e02.c551b2","wires":[["d51c36c6.2ae3c8"]]},{"id":"c3df1545.3c20e8","type":"template","name":"danger","template":"Temperature ({{payload}}) critical","x":649,"y":227,"z":"3aae4e02.c551b2","wires":[["d51c36c6.2ae3c8"]]}]